<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<%= form_with url: root_path, method: :get do |f|%>
  <%= f.text_field :address %>
  <%= f.submit '地図表示' %>
<% end %>
<div id="map" style='width: 100%; height: 500px;'></div>
 
  <script type="text/javascript">
    handler = Gmaps.build('Google', { markers: { maxRandomDistance: 5 } });
    <% @posts.each do |post| %>
      handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
          {
            "lat": <%= post.latitude %>,
            "lng": <%= post.longitude %>,
        "infowindow": '<p><%= post.name %></p><p><%= post.address %></p><p><%= link_to "イベント詳細" ,post_path(post.id),target: "_blank" %></p><p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{post.latitude},#{post.longitude}&iwloc=J",target: "_blank" %></p>'
          }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(17);
      });
    <% end %>
  </script>

<%= link_to "ログイン", login_path %>
