<h1>BGMatch</h1>
<div class="copy">
  <p>ふとボードゲームがやりたいと思ったが、一緒にやる相手がいない…</br>
  そんな時、手軽に近くの相手が探せるアプリです</br>
  位置情報を有効にすることで、現在地付近のイベントを探すことができます</p>
</div>
<div class="input-address">
  <p>住所から探す</p>
  <input id="address" type="textbox" value="大阪駅">
  <input type="button" value="位置検索" onclick="codeAddress()">
</div>
<div class="map-container">
<div id="map" style='width: 100%; height: 500px;'></div>
 
<script>
  handler = Gmaps.build('Google', { markers: { maxRandomDistance: 5 } });
  handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
    <% @posts.each do |post| %>
      <% if !post.latitude.nil? || !post.longitude.nil? %>
        markers = handler.addMarkers([
            {
              "lat": <%= post.latitude %>,
              "lng": <%= post.longitude %>,
              "infowindow": '<p><%= post.name %></p><p><%= post.address %></p><p><%= link_to "イベント詳細" ,post_path(post.id),target: "_blank" %></p><p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{post.latitude},#{post.longitude}&iwloc=J",target: "_blank" %></p>'
            }
          ]);
      <% end %>
    <% end %>
      if(navigator.geolocation)
        navigator.geolocation.getCurrentPosition(displayOnMap);
  });

  function displayOnMap(position){
    var marker = handler.addMarker({
      lat: position.coords.latitude,
      lng: position.coords.longitude,
      infowindow: "現在地"
    });
    handler.map.centerOn(marker);
    handler.fitMapToBounds();
    handler.getMap().setZoom(14);
  };
</script>

<h4 id="participate">イベントに参加したくなったら</h4>
<div class="buttons">
  <%= link_to "アカウント登録", sign_up_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
</div>

