<h1>ユーザー詳細ページ</h1>
<h3><%= @user.name %>さん主催のイベント</h3>
<% if @user.posts.any? %>
  <% @user.posts.each do |post| %>
    <hr>
    <li id="post-<%= post.id %>">
      <span class="name"><%= link_to post.name, post_path(post.id) %></span></br>
      <span class="description"><%= post.description %></span></br>
      <span class="user"><%= link_to post.user.name, post.user %></span>さんが
      <span class="timestamp">
        <%= time_ago_in_words(post.created_at) %>前に投稿
      </span>
    </li>
  <% end %>
<% else %>
  <p>まだ投稿はありません</p>
<% end %>
<hr>
<h3>参加するイベント</h3>
<% if @user.participated_posts.any? %>
  <% @user.participated_posts.each do |post| %>
    <%= link_to post.name, post_path(post.id) %></br>
    <%= post.date.strftime("%Y年%m月%d日") %><%= link_to post.address ,"https://maps.google.co.jp/maps?q=loc:#{post.latitude},#{post.longitude}&iwloc=J",target: "_blank" %></br>
    <%= post.description %>
  <% end %>
<% else %>
  <p>参加するイベントはありません</p>
<% end %>
