<% provide(:title, "イベント一覧") %>
<h2>イベント一覧</h2>
<div class="paginate">
  <%= will_paginate %>
</div>
<hr>
<% @posts.each do |post| %>
  <div class="post-item">
    <div class="post-image">
      <%= image_tag post.post_image.url, :size =>'100x100' if post.post_image? %>
    </div>
    <%= link_to post.user.name, user_path(post.user.id) %></br>
    <%= link_to post.name, post_path(post.id) %></br>
    開催日:<%= post.date.strftime("%Y年%m月%d日") %></br>
    参加人数:<%= post.participated_users.count %>人</br>
    <span class="timestamp">
      <%= time_ago_in_words(post.created_at) %>前に投稿
    </span>
    </br>
    <% if user_signed_in? && current_user.id == post.user.id %>
      <%= link_to "編集", edit_post_path(post) %>
      <%= link_to "削除", post_path(post.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
    
    
    <hr>
  </div>
<% end %>
<div class="paginate">
  <%= will_paginate %>
</div>