<h2>投稿一覧</h2>
<% @posts.each do |post| %>
  <a href="/users/<%= post.user.id %>"><%= post.user.email %></a>
  <p><a href="/posts/<%= post.id %>"><%= post.description %></a></p>
  (<%= post.participated_users.count %>)
<% end %>